

{%- if section.settings.background_image -%}
  <style>
    #hero-{{ section.id }}.aurora-hero-section { /* Targets this specific instance of the hero section */
      background-image: url('{{ section.settings.background_image | image_url: width: 1920, height: 1080 }}');
      background-size: cover;    /* Usually desired for hero images */
      background-position: left; /* Usually desired for hero images */
      /* min-height: 100vh; /* You'll also want this, either here or in your global CSS for .aurora-hero-section */
      @media (max-width: 990px) {
        background-position: center;
      }
      h1 {
        font-size: clamp(5rem, 11vw, 127px);
        font-size: clamp(6rem, 13vw, 127px);
      }
      p {
        font-size: larger;
        margin: 0;
        color: var(--main-color);
        text-shadow: 1px -1px 3px #000000;
        padding-bottom: 15px;
      }
      .page-width {
        padding: 0px 4.5rem;
      }
      .hero-content {
        z-index: 2;
        position: relative;
      }
      .cta-1, .cta-2 {    
        background: var(--main-color);
        padding: 6px 12px;
        border-radius: 2px;
        outline: 1px solid #ffffffbd;
        color: #3769a0;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 900;
        text-decoration: unset;
        box-shadow: 1px 1px 4px -1px #554c4c;
        margin-right: calc(var(--standard_desk_marign)* 0.2);
      }
      .cta-1 {
        background: #f9be00;
        color: #f50dbb8a;
        outline: 1px solid #f40dbaba;
        margin-right: 10px;
      }
      .cta-1:hover, .cta-2:hover {
        box-shadow: 3px 3px 3px 0px #554c4cad !important;
        outline: 2px solid #8e6c93 !important;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
        z-index: 1;
      }
    }
  </style>
{%- endif -%}

<section
  id="hero-{{ section.id }}"
  class="aurora-hero-section border-bottom"

  data-section-id="{{ section.id }}"
  data-section-type="aurora-hero"
><div class="overlay">&nbsp;</div>
  <div class ="hero-content align-vertically full-screen-height page-width">
    <div>
    {% if section.settings.headline != blank %}
      <h1 class="bebas-neue-regular">
        {{ section.settings.headline | escape }}
      </h1>
    {% endif %}

    {% if section.settings.subheadline != blank %}
      <div class="">
        {{ section.settings.subheadline }}
      </div>
    {% endif %}
    <div>
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a class="cta-1" href="{{ section.settings.button_link }}">
        {{ section.settings.button_label | escape }}
      </a>
    {% endif %}
    {% if section.settings.button_label2 != blank and section.settings.button_link2 != blank %}
      <a class="cta-2" href="{{ section.settings.button_link2 }}">
        {{ section.settings.button_label2 | escape }}
      </a>
    {% endif %}
    </div>
    
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Aurora Hero",
  "tag": "section",
  "class": "aurora-hero-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image",
      "info": "Recommended size: 1920x1080px."
    },
    {
      "type": "text",
      "id": "headline",
      "label": "Headline",
      "default": "Sculpt Atmosphere."
    },
    {
      "type": "richtext",
      "id": "subheadline",
      "label": "Subheadline",
      "default": "<p>Introducing Aurora Light: a singular spotlight designed to transform your space with breathtaking prism effects and unparalleled ambient elegance.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Köp nu"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_label2",
      "label": "Button Label2",
      "default": "Discover the Light"
    },
    {
      "type": "url",
      "id": "button_link2",
      "label": "Button Link2"
    }

  ],
  "presets": [
    {
      "name": "Aurora Hero"
    }
  ]
}
{% endschema %}