<style>
.aurora-highlighted-features .wrapper {
  text-align: center;
}
.aurora-highlighted-features__main-feature {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.aurora-highlighted-features__main-heading {
  text-align: center;
}

.aurora-highlighted-features__main-content {
  flex: 1 1 50%;
  padding-right: 24px;
  box-sizing: border-box;
}

.aurora-highlighted-features__main-image {
  flex: 1 1 50%;
  text-align: right;
}

.aurora-highlighted-features__main-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  border-radius: 8px;
}

.aurora-highlighted-features__additional-features {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.aurora-highlighted-features__main-text, .aurora-highlighted-features__feature-text {
    margin-bottom: 12px;
}

.aurora-highlighted-features__feature {
  flex: 1 1 48%;
  box-sizing: border-box;
  /*background: #fafafa14;*/
  border-radius: 12px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.aurora-highlighted-features__feature h4 {
  margin: 12px 0;
  margin-top: 36px;
}

.aurora-highlighted-features__feature-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: top;
  align-items: end;
  justify-content: center;
}

.aurora-highlighted-features__feature-image img {
  max-width: 100%;
  margin-top: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 900px) {
  .aurora-highlighted-features__main-feature {
    flex-direction: column;
  }
  .aurora-highlighted-features__main-content,
  .aurora-highlighted-features__main-image {
    flex: 1 1 100%;
    padding-right: 0;
    text-align: left;
  }
  .aurora-highlighted-features__main-image img {
    margin-left: 0;
  }
  .aurora-highlighted-features__additional-features {
    flex-direction: column;
    gap: 0;
  }
  .aurora-highlighted-features__feature {
    flex: 1 1 100%;
    margin-bottom: 24px;
  }
}
</style>

<section class="aurora-highlighted-features color-{{ section.settings.color_scheme | default: 'background-1' }}">
  <div class="page-width">
  {% if section.settings.main_heading != blank %}
    <div class="wrapper">
      <h2 class="aurora-highlighted-features__main-heading">
        {{ section.settings.main_heading }}
      </h2>
    </div>
  {% endif %}

  <div class="aurora-highlighted-features__main-feature">
    <div class="aurora-highlighted-features__main-content">
      <h3>{{ section.settings.main_feature_heading }}</h3>
      <div class="aurora-highlighted-features__main-text">
        {{ section.settings.main_feature_text }}
      </div>
    </div>
    {% if section.settings.main_feature_image != blank %}
      <div class="aurora-highlighted-features__main-image">
        <img src="{{ section.settings.main_feature_image | img_url: '800x' }}" alt="{{ section.settings.main_feature_heading }}">
      </div>
    {% endif %}
  </div>

  {% if section.blocks.size > 0 %}
    <div class="aurora-highlighted-features__additional-features">
      {% for block in section.blocks %}
        <div class="aurora-highlighted-features__feature" {{ block.shopify_attributes }}>
          <h4>{{ block.settings.feature_heading }}</h4>
          <div class="aurora-highlighted-features__feature-text">
            {{ block.settings.feature_text }}
          </div>
          {% if block.settings.feature_image != blank %}
            <div class="aurora-highlighted-features__feature-image">
              <img src="{{ block.settings.feature_image | img_url: '600x' }}" alt="{{ block.settings.feature_heading }}">
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Aurora HL Features",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading"
    },
    {
      "type": "text",
      "id": "main_feature_heading",
      "label": "Main Feature Heading"
    },
    {
      "type": "textarea",
      "id": "main_feature_text",
      "label": "Main Feature Text"
    },
    {
      "type": "image_picker",
      "id": "main_feature_image",
      "label": "Main Feature Image"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Additional Feature",
      "settings": [
        {
          "type": "text",
          "id": "feature_heading",
          "label": "Feature Heading"
        },
        {
          "type": "textarea",
          "id": "feature_text",
          "label": "Feature Text"
        },
        {
          "type": "image_picker",
          "id": "feature_image",
          "label": "Feature Image"
        }
      ]
    }
  ],
  "max_blocks": 2,
  "presets": [
    {
      "name": "Aurora Highlighted Features"
    }
  ]
}
{% endschema %}

